/* RESET */
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
}
body{
    margin: 0;
    background-color: rgb(135, 206, 250);
}
/* MODIFIERS */
.text--center{
    text-align: center;
}
.text--blue{
    color: rgb(135, 206, 250);
}
.text--grey{
    color: grey;
}

.btn--white{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 26px;    
    border: 1px solid rgb(51, 204, 255);
    color: rgb(51, 204, 255) !important;
}
.btn--white:hover{
    background-color: rgb(51, 204, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255) !important;
}

/* FLEXBOX */

.main{
    background-color: rgb(255, 255, 255);
    margin: 100px;
    padding: 100px;
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1em;
}

/* NAV */
nav{
    display: grid;
    grid-column: 1/9;
    grid-template-columns:30% 70%;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.nav__links{
    grid-column: 2/3;
    list-style-type: none;
    justify-self: end;
}

.logo{
    grid-column: 1/2;
    justify-self: start;
    align-self: center;
}
.nav__link{ 
    display: inline-grid;
    margin: 0 10px;
    border-radius: 26px;
}
.nav__link:hover{
    background-color: rgb(51, 204, 255);
}
.nav__link a{
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    font-weight:bold;
}
.nav__link:hover a{
    color: rgb(255, 255, 255);
}

/* DESCRIPTION (at the top) */

.description{
    grid-column: 4/6;
}

/*BIG DIV*/

.bigdiv{
    grid-column: 2/8;
    align-self: center;
    height: 300px;
}

/* CHOICES */

.choices{
    grid-column: 1/9;
}
.choice__options{
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8em;
    padding-bottom: 50px;
}
.choice__option{
    border: 1px solid rgb(135, 206, 250);
    border-radius: 5px;
    padding: 20px;
}

.choice__option:hover{
    background-color: rgb(135, 206, 250);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.choice__option *{
    text-decoration: none;
    text-transform: capitalize;
}
.choice__option:hover *{
    color: rgb(255, 255, 255) !important;
}

/* CHOICE FORM */

.choice__form{
    grid-column: 3/7;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.choice__label{
    grid-column: 2/5;
    font-weight: bold;
}

.choice__field{
    grid-column: 2/5;
    border: none;
    padding: 5px 10px;
    outline: none !important;
    border-bottom: 1px double rgb(0, 0, 0);
}

.choice__field:focus{
    outline:none !important;
    border-bottom: 1px double rgb(51, 204, 255);
}

.button--submit{
    background-color: rgb(135, 206, 250);
    border-radius: 26px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgb(211, 211, 211);
    justify-self: center;
    width: fit-content;
    border: 1px solid rgb(135, 206, 250);
    padding: 10px 25px;
    margin-top: 20px;
    grid-column: 3;
}

.button--submit:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(135, 206, 250);
    color: rgb(135, 206, 250);
}

/* FOOTER */

footer{
    grid-column: 1/9;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer__menu{
    list-style-type: none;
    padding: 10px;
    margin: 0;
    grid-column: 2/4;
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    align-items: center;

}
.footer__menu-item{
    justify-self: center;
}