/* FLEXBOX */

/* RESET */
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5em;
}

body{
    background-color:rgb(240, 248, 255);
}

a{
    text-decoration: none;
}
.main{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px rgb(173, 216, 230);
    padding-top: 0;
    padding-bottom: 0;
    margin: 100px;
    display: flex;   
    justify-content: center;
    flex-direction: column;
}

/* MODIFIERS */
.btn--blue{
    padding: 10px 20px;
    margin: 0 auto;
    margin-top:60px;
    background-color: rgb(51, 204, 255);
    border-radius: 26px;    
    border: 1px solid rgb(51, 204, 255);
    color: rgb(255, 255, 255) !important;
    box-shadow: 0px 0px 10px rgb(211, 211, 211);
    transition: background-color 0.2s ease;
}
.btn--blue:hover{
    color: rgb(173, 216, 230) !important;
    background-color: rgb(255, 255, 255);
}
.btn--white{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 26px;    
    border: 1px solid rgb(51, 204, 255);
    color: rgb(51, 204, 255) !important;
    transition: background-color 0.5s ease;
    background-color: rgb(255, 255, 255);
}
.btn--white:hover{
    background-color: rgb(51, 204, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255) !important;
}
.text--center{
    text-align:center;
}
.text--blue{
    color: rgb(51, 204, 255);
}
.text--grey{
    color: rgb(128, 128, 128);
}

/* NAV */
nav{
    margin: 0 100px;
    display: flex;
}
.logo{
    margin: 0 !important;
    justify-self: center;
    align-self: center;
}
.nav__links{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 20 0;
    margin: 0;
    flex:1;
}
.nav__link{ 
    display: inline;
    margin: 0 10px;
    border-radius: 26px;
    transition: background-color 0.5s ease;
    background-color: rgb(255, 255, 255);
}
.nav__link:hover{
    background-color: rgb(51, 204, 255);
    
}
.nav__link a{
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    color: rgb(128, 128, 128);
    font-weight:bold;
}
.nav__link:hover a{
    color: rgb(255, 255, 255);
}
/* BIGDIV */
.bigdiv{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content:center;
    text-align:center;
}
/* CHOICES */
.choice__options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.choices h3{
    padding-bottom: 20px;
}
.choice__option{
    display: flex;
    flex-direction: column;
    min-width: 150px;
    align-content: center;
    text-align: center; 
    padding: 20px;
    border: 1px solid rgb(173, 216, 230);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(173, 216, 230);
    transition: background-color 0.5s ease;
    background-color: rgb(255, 255, 255);
}
.choice__option:hover{
    background-color: rgb(135, 206, 250);
    color: rgb(255, 255, 255) !important ;
    cursor: pointer;
}
.choice__option:hover *{
    color: rgb(255, 255, 255) !important ;
}
.choice__option p{
    text-transform: capitalize;
}


/* FORM */
.choice__form{
    display: grid;
    flex-direction: column;
    align-content: center;
    width: 50%;
    margin: auto;
    padding: 50px 0;
}
.form__label{
    font-weight: bold;
}
.form__field{
    border: none;
    padding: 5px 10px;
    margin: 0;
    width: 100%;
    outline: none !important;
    border-bottom: 1px double rgb(0, 0, 0);
}
.form__field:focus{
    outline:none !important;
    border-bottom: 1px double rgb(51, 204, 255);
}

/* FOOTER */

footer{
    background-color: aliceblue;  
}
.footer__menu{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
}

